// FONTS

// REGULAR TEXT
$base-text-size: 16px; // body text size
$base-text-family: sans-serif; // body text font family

// HEADER TEXT
$header-1-size: 2.5em;
$header-2-size: 2em;
$header-3-size: 1.5em;
$header-4-size: 1em;
$header-5-size: 0.5em;
$header-6-size: 0.25em;

// FONT STYLE DECLARATIONS
html {
	font-size: $base-text-size;
	font-family: $base-text-family;
}

h1 {
	font-size: $header-1-size;
}

h2 {
	font-size: $header-2-size;
}

h3 {
	font-size: $header-3-size;
}

h4 {
	font-size: $header-4-size;
}

h5 {
	font-size: $header-5-size;
}

h6 {
	font-size: $header-6-size;
}

p {
	font-size: $base-text-size;
}